.letter {
  border: 0;
}

.letterU {
  clip-path: polygon(100% 0, 100% 75%, 75% 100%, 25% 100%, 0% 75%, 0 0);
}

.letterD {
  clip-path: polygon(100% 25%, 100% 75%, 75% 100%, 0 100%, 0 0, 74% 0);
}

.letterG {
  clip-path: polygon(100% 83%, 75% 100%, 25% 100%, 0 75%, 0 25%, 25% 0, 100% 0, 100% 40%, 45% 40%, 45% 60%, 50% 60%, 50% 45%, 100% 45%, 100% 65%);
}
