.cphio-navbar {
  background-color: #31E3CB;
  padding: 10px 16px;
}

.titulo-navbar {
  font-family: 'Lobster Two', cursive;
  font-size: 1.5rem;
  color: #41514E;
  border: 2px solid #41514E;
  border-radius: 2rem;
  text-decoration: none;
}

.titulo-navbar:hover {
  text-decoration: none;
  color: #F8F8F8;
  background-color: #41514E;
}

.cphio-navbar p,
.cphio-navbar li {
  color: #41514E;
}

.cphio-navbar p {
  font-weight: bold;
  font-size: 1.4em;
}

.nav-btn {
  display: block;
  text-decoration: none;
  width: 100%;
  border-radius: 2.5rem;
  background-color: #31E3CB;
  border: none;
  color: #41514E;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  line-height: 1.8em;
  margin: 0;
}

.line {
  border-top: 1px solid #41514E;
  margin-left: 16px;
  margin-right: 16px;
}

.nav-btn:hover {
  color:#F8F8F8;
  background-color: #41514E;
  text-decoration: none;
}
