@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/***************************** General ******************************/

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #41514E;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 3rem;
  color: #F8F8F8;
}

h3, p {
  color: #F8F8F8;
}

.logo {
  width: 6rem;
  height: 6rem;
}

.text-box {
  background-color: #F8F8F8;
  border-radius: 0.2rem;
  color: #000;
  border: 2px solid #31E3CB;
}

form label {
  color: #F8F8F8;
}

.input-group-append button {
  background-color: #F8F8F8;
  border-style: none;
  color: #41514E;
}

.input-group-append button:hover {
  background-color: #F8F8F8;
  border-style: none;
  color: #2F88FC;
}

/***************************** Buttons ******************************/
.cbt-blue,
.cbt-lg-green {
  border-radius: 2rem;
  border: none;
}

.cbt-blue {
  background-color: #2F88FC;
  color: #F8F8F8;
}

.cbt-lg-green {
  background-color: #31E3CB;
}

.cbt-blue:hover {
  color: #F8F8F8;
}

.cbt-blue:hover,
.cbt-lg-green:hover {
  -webkit-box-shadow: 0px 0px 18px -11px rgba(255,255,255,0.94);
  -moz-box-shadow: 0px 0px 18px -11px rgba(255,255,255,0.94);
  box-shadow: 0px 0px 18px -11px rgba(255,255,255,0.94)
}

.link {
  color: #2F88FC;
}

.link:hover {
  color: #31E3CB;
  text-decoration: none;
}