@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/***************************** General ******************************/

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #41514E;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 3rem;
  color: #F8F8F8;
}

p {
  color: #F8F8F8;
}

.logo {
  width: 6rem;
  height: 6rem;
}

.text-box {
  background-color: #31E3CB;
  border-radius: 0.2rem;
  color: #000;
}

.text-box-white {
  background-color: #F8F8F8;
  border-radius: 0.2rem;
  color: #000;
}

form label {
  color: #F8F8F8;
}

.input-group-append button {
  background-color: #FFF;
  border-style: none;
  color: #41514E;
}

.input-group-append button:hover {
  background-color: #FFF;
  border-style: none;
  color: #2F88FC;
}

/***************************** Buttons ******************************/
.cbt,
.cbt-dk-green,
.cbt-blue,
.cbt-lg-green,
.cbt-white {
  border-radius: 2rem;
  border: none;
}

.cbt-blue:hover {
  text-decoration: none;
  color: #000;
}

.cbt-dk-green {
  background-color: #41514E;
}
.cbt-blue {
  background-color: #2F88FC;
  color: #F8F8F8;
}
.cbt-lg-green {
  background-color: #31E3CB;
}
.cbt-white {
  background-color: #F8F8F8;
}